<launch>
    
    <!-- Lanzar preubaInicio7.launch primero -->
    <include file="$(find niryo_controladores)/launch/preubaInicio7.launch" />

   
        
    <!-- Ejecutar los dos scripts Python -->
    <node name="modo_lectura12" pkg="niryo_controladores" type="modo_lectura12.py" output="screen" />
    <node name="trayectoria29" pkg="niryo_controladores" type="trayectoria29.py" output="screen" />

        <!-- Lanzar rosbridge_websocket.launch -->
    <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />  -->

    
</launch>


