<launch>
      
     <!-- Ejecutar los dos scripts Python -->
     <node name="inicializacion_encendido" pkg="cobot_controladores" type="inicializacion_encendido.py" output="screen" />

     <!-- Lanzar rosbridge_websocket.launch -->
     <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
        
</launch>

